# ----------------------------------------------------------------------------
# 基础配置
# ----------------------------------------------------------------------------

# 时区设置
TIME_ZONE=Asia/Shanghai

# ----------------------------------------------------------------------------
# 镜像仓库配置
# ----------------------------------------------------------------------------

# 可选镜像源:
#   - seatonjiang
#   - ghcr.io/seatonjiang
#   - docker.cnb.cool/seatonjiang/vsftpd
IMAGE_REGISTRY=docker.cnb.cool/seatonjiang/vsftpd

# ----------------------------------------------------------------------------
# 系统镜像源配置
# ----------------------------------------------------------------------------

# Alpine Linux 推荐镜像源:
#   - mirrors.ustc.edu.cn
#   - mirrors.tuna.tsinghua.edu.cn
#   - mirrors.aliyun.com
#   - mirrors.cloud.tencent.com
ALPINE_MIRROR=mirrors.cloud.tencent.com

# ----------------------------------------------------------------------------
# 服务配置
# ----------------------------------------------------------------------------

# Caddy 配置
# 支持版本: alpine
CADDY_VERSION=alpine
CADDY_HTTP_PORT=80
CADDY_HTTPS_PORT=443

# vsftpd 配置
# 支持版本: alpine
VSFTPD_VERSION=alpine
VSFTPD_PORT=21
VSFTPD_PASSIVE_PORT=50000-50100
VSFTPD_PASV_ADDRESS=127.0.0.1
